In [3]:
!pip install pyspark
!pip install py4j
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www.apache.org/dyn/closer.lua/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz
!pip install -q findspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: py4j in /usr/local/lib/python3.8/dist-packages (0.10.9.5)

In [6]:
import pyspark.sql
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName("Colab").config('spark.ui.port','4050').getOrCreate()

**Use the greatest function**

In [10]:
from pyspark.sql.functions import greatest

# first i create a Create a DataFrame
df = spark.createDataFrame([(1, 2, 3), (4, 5, 6), (7, 8, 9)], ["col1", "col2", "col3"])

df.select(greatest("col1", "col2", "col3").alias("greatest")).show()

+--------+
|greatest|
+--------+
|       3|
|       6|
|       9|
+--------+

**Use the split function**

In [11]:
from pyspark.sql.functions import split

# Create a DataFrame
df2 = spark.createDataFrame([("a,b,c",)], ["text"])

df2.select(split("text", ",").alias("text")).show(truncate=False)

+---------+
|text     |
+---------+
|[a, b, c]|
+---------+

**Use the least function**

In [12]:
from pyspark.sql.functions import least

df.select(least("col1", "col2", "col3").alias("least")).show()

+-----+
|least|
+-----+
|    1|
|    4|
|    7|
+-----+

**Use the len function**

In [21]:
import pyspark.sql.functions as F

# Create a DataFrame
df3 = spark.createDataFrame([["Pritam", 30], ["Rishabh", 25], ["Shubham", 40]], ["name", "age"])

df3.select(F.length("name").alias("length")).show()

+------+
|length|
+------+
|     6|
|     7|
|     7|
+------+

**Use the lower function**

In [22]:
from pyspark.sql.functions import lower

# Create a DataFrame
df = spark.createDataFrame([("ABC",), ("DEF",)], ["text"])

df.select(lower("text").alias("lower_case")).show()

+----------+
|lower_case|
+----------+
|       abc|
|       def|
+----------+

**Use the max function**

In [30]:
from pyspark.sql.functions import max

df = spark.createDataFrame([(1, 2, 3), (4, 5, 6), (7, 8, 9)], ["col1", "col2", "col3"])

df.agg({'col1': 'max','col2': 'max','col3': 'max'}).show()

+---------+---------+---------+
|max(col2)|max(col3)|max(col1)|
+---------+---------+---------+
|        8|        9|        7|
+---------+---------+---------+

**Use the higher function**

In [33]:
# from pyspark.sql.functions import higher

# this Question is Wrong becz there have no any function od higher in pyspark MAximum\]

**Use the `mean` function to calculate the mean value**

In [34]:
from pyspark.sql.functions import mean

df = spark.createDataFrame([(1, 2, 3), (4, 5, 6), (7, 8, 9)], ["col1", "col2", "col3"])
df.select(mean("col1")).show()

+---------+
|avg(col1)|
+---------+
|      4.0|
+---------+

**Use the `round` function to round the values in a column**

In [35]:
from pyspark.sql.functions import round

df.select(round("col1", 2)).show()

+--------------+
|round(col1, 2)|
+--------------+
|             1|
|             4|
|             7|
+--------------+

**Use the `collect_set` function to create a set of the values in a column**

In [37]:
from pyspark.sql.functions import collect_set

df.select(collect_set("col1")).show()

+-----------------+
|collect_set(col1)|
+-----------------+
|        [1, 7, 4]|
+-----------------+

**Use the `collect_list` function to create a list of the values in a column**

In [39]:
from pyspark.sql.functions import collect_list

df.select(collect_list("col1")).show()

+------------------+
|collect_list(col1)|
+------------------+
|         [1, 4, 7]|
+------------------+